## Run this to set up %sql and %%sql magics

In [2]:
%load_ext sql

In [3]:
%%sql
sqlite:///CourseData.db

'Connected: @CourseData.db'

## Drop Import Tables For Any Future Rerun of Code

In [13]:
%%sql
drop table if exists import_course;

 * sqlite:///CourseData.db
Done.

[]

In [14]:
%%sql
drop table if exists import_course_meeting;

 * sqlite:///CourseData.db
Done.

[]

In [15]:
%%sql
drop table if exists import_course_catalog;

 * sqlite:///CourseData.db
Done.

[]

## Drop ERD Tables For Any Future Rerun of Code

In [4]:
%%sql
drop table if exists catalog_program;

 * sqlite:///CourseData.db
Done.

[]

In [5]:
%%sql
drop table if exists catalog_course;

 * sqlite:///CourseData.db
Done.

[]

In [6]:
%%sql
drop table if exists term;

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql
drop table if exists course_offering;

 * sqlite:///CourseData.db
Done.

[]

In [8]:
%%sql
drop table if exists instructor;

 * sqlite:///CourseData.db
Done.

[]

In [9]:
%%sql
drop table if exists course_meeting;

 * sqlite:///CourseData.db
Done.

[]

In [10]:
%%sql
drop table if exists timecode;

 * sqlite:///CourseData.db
Done.

[]

In [11]:
%%sql
drop table if exists location;

 * sqlite:///CourseData.db
Done.

[]

## Create Import Tables

In [18]:
%%sql
create table 'import_course_catalog' (
    program_code TEXT NOT NULL,
    program_name VARCHAR NOT NULL,
    catalog_id VARCHAR NOT NULL,
    course_title VARCHAR NOT NULL, 
    credits VARCHAR NOT NULL,
    prereqs VARCHAR, 
    coreqs VARCHAR,
    fees VARCHAR,
    attributes VARCHAR,
    description VARCHAR 
);

 * sqlite:///CourseData.db
Done.

[]

In [20]:
%%sql
create table 'import_course_meeting' (
    term VARCHAR NOT NULL,
    crn INTEGER NOT NULL,
    location VARCHAR NOT NULL,
    day TEXT NOT NULL,
    start VARCHAR NOT NULL,
    end VARCHAR NOT NULL 
);

 * sqlite:///CourseData.db
Done.

[]

In [21]:
%%sql
create table 'import_course' (
    term VARCHAR NOT NULL,
    crn INTEGER NOT NULL,
    catalog_id VARCHAR NOT NULL,
    section VARCHAR NOT NULL,
    credits VARCHAR,
    title VARCHAR, 
    meetings VARCHAR,
    timecodes VARCHAR, 
    primary_instructor TEXT,
    cap INTEGER, 
    act INTEGER, 
    rem INTEGER 
);

 * sqlite:///CourseData.db
Done.

[]

## Create Database Tables From ERD

In [ ]:
%%sql
create table catalog_program (
    CP_ID INTEGER PRIMARY KEY,
    
);

In [ ]:
%%sql
create table catalog_course (
    CC_ID INTEGER PRIMARY KEY,
    
);

In [ ]:
%%sql
create table term (
    T_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table course_offering (
    CO_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table instructor (
    I_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table course_meeting (
    CM_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table time_code (
    TC_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table location (
    L_ID INTEGER PRIMARY KEY,

);

## Import CSV Files

In [27]:
fall = ['SourceData/Fall2014/courses.csv']
fall0 = pd.read_csv(fall[0])

FileNotFoundError: File b'SourceData/Fall2014/courses.csv' does not exist

In [23]:
fall = ['SourceData/Fall2014/courses.csv',
        'SourceData/Fall2015/courses.csv', 
        'SourceData/Fall2016/courses.csv',
        'SourceData/Fall2017/courses.csv',
        'SourceData/Fall2018/courses.csv']
fall0 = pd.read_csv(fall[0])
fall1 = pd.read_csv(fall[1])
fall2 = pd.read_csv(fall[2])    
fall3 = pd.read_csv(fall[3])
fall4 = pd.read_csv(fall[4])

FileNotFoundError: File b'SourceData/Fall2014/courses.csv' does not exist

In [ ]:
winter = ['SourceData/Winter2014/courses.csv',
          'SourceData/Winter2015/courses.csv', 
          'SourceData/Winter2016/courses.csv',
          'SourceData/Winter2017/courses.csv',
          'SourceData/Winter2018/courses.csv']
winter0 = pd.read_csv(winter[0])
winter1 = pd.read_csv(winter[1])
winter2 = pd.read_csv(winter[2])    
winter3 = pd.read_csv(winter[3])
winter4 = pd.read_csv(winter[4])

In [ ]:
spring = ['SourceData/Spring2014/courses.csv',
          'SourceData/Spring2015/courses.csv', 
          'SourceData/Spring2016/courses.csv',
          'SourceData/Spring2017/courses.csv',
          'SourceData/Spring2018/courses.csv']
spring0 = pd.read_csv(spring[0])
spring1 = pd.read_csv(spring[1])
spring2 = pd.read_csv(spring[2])    
spring3 = pd.read_csv(spring[3])
spring4 = pd.read_csv(spring[4])

In [ ]:
summer = ['SourceData/Summer2014/courses.csv',
          'SourceData/Summer2015/courses.csv', 
          'SourceData/Summer2016/courses.csv',
          'SourceData/Summer2017/courses.csv',
          'SourceData/Summer2018/courses.csv']
summer0 = pd.read_csv(summer[0])
summer1 = pd.read_csv(summer[1])
summer2 = pd.read_csv(summer[2])    
summer3 = pd.read_csv(summer[3])
summer4 = pd.read_csv(summer[4])

Write SELECT Queries to Transform the data in your IMPORT Tables
to match your ERD tables

Use INSERT INTO tablename SELECT to populate the ERD tables

In [ ]:
INSERT INTO Instructors (name)
select distinct primary_instructor
From import_Catalog_courses