In [17]:
import pandas as pd 
import numpy as np
import sqlite3
conn = sqlite3.connect('CourseData.db')
c = conn.cursor()

## Run this to set up %sql and %%sql magics

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%%sql
sqlite:///CourseData.db

'Connected: @CourseData.db'

## Drop Import Tables For Any Future Rerun of Code

In [20]:
%%sql
drop table if exists import_courses;

 * sqlite:///CourseData.db
Done.

[]

In [21]:
%%sql
drop table if exists import_cmeetings;

 * sqlite:///CourseData.db
Done.

[]

In [22]:
%%sql
drop table if exists import_catalog;

 * sqlite:///CourseData.db
Done.

[]

## Drop ERD Tables For Any Future Rerun of Code

In individual cells so we could drop individual tables as needed

In [23]:
%%sql
drop table if exists catalog_program;

 * sqlite:///CourseData.db
Done.

[]

In [24]:
%%sql
drop table if exists catalog_course;

 * sqlite:///CourseData.db
Done.

[]

In [25]:
%%sql
drop table if exists term;

 * sqlite:///CourseData.db
Done.

[]

In [29]:
%%sql
drop table if exists course_offering;

 * sqlite:///CourseData.db
Done.

[]

In [30]:
%%sql
drop table if exists instructor;

 * sqlite:///CourseData.db
Done.

[]

In [31]:
%%sql
drop table if exists course_meeting;

 * sqlite:///CourseData.db
Done.

[]

In [32]:
%%sql
drop table if exists time_code;

 * sqlite:///CourseData.db
Done.

[]

In [33]:
%%sql
drop table if exists location;

 * sqlite:///CourseData.db
Done.

[]

## Create Import Tables

In [34]:
%%sql
create table 'import_catalog' (
    program_code TEXT NOT NULL,
    program_name VARCHAR NOT NULL,
    catalog_id VARCHAR NOT NULL,
    course_title VARCHAR NOT NULL, 
    credits VARCHAR NOT NULL,
    prereqs VARCHAR, 
    coreqs VARCHAR,
    fees VARCHAR,
    attributes VARCHAR,
    description VARCHAR 
);

 * sqlite:///CourseData.db
Done.

[]

In [35]:
%%sql
create table 'import_cmeetings' (
    term VARCHAR NOT NULL,
    crn INTEGER NOT NULL,
    location VARCHAR NOT NULL,
    day TEXT NOT NULL,
    start VARCHAR NOT NULL,
    end VARCHAR NOT NULL 
);

 * sqlite:///CourseData.db
Done.

[]

In [36]:
%%sql
create table 'import_courses' (
    term VARCHAR NOT NULL,
    crn INTEGER NOT NULL,
    catalog_id VARCHAR NOT NULL,
    section VARCHAR NOT NULL,
    credits VARCHAR,
    title VARCHAR, 
    meetings VARCHAR,
    timecodes VARCHAR, 
    primary_instructor TEXT,
    cap INTEGER, 
    act INTEGER, 
    rem INTEGER 
);

 * sqlite:///CourseData.db
Done.

[]

## Create Database Tables From ERD

In [37]:
%%sql
create table CATALOG_PROGRAM (
    CATALOG_ID VARCHAR PRIMARY KEY,
    PROGRAM_CODE TEXT NOT NULL,
    PROGRAM_NAME VARCHAR NOT NULL,
    COURSE_TITLE VARCHAR NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [38]:
%%sql
create table CATALOG_COURSE (
    CC_ID INTEGER PRIMARY KEY,
    COURSE_TITLE VARCHAR NOT NULL,
    PRE_REQS VARCHAR,
    CO_REQS VARCHAR,
    CATALOG_ID VARCHAR NOT NULL,
    FOREIGN KEY (CATALOG_ID) REFERENCES CATALOG_PROGRAM (CATALOG_ID)
);

 * sqlite:///CourseData.db
Done.

[]

In [39]:
%%sql
create table TERM (
    TERM_ID INTEGER PRIMARY KEY,
    TERM_NAME VARCHAR NOT NULL,
    CRN INTEGER NOT NULL,
    FOREIGN KEY (CRN) REFERENCES CATALOG_COURSE (CRN)
);

 * sqlite:///CourseData.db
Done.

[]

In [40]:
%%sql
create table COURSE_OFFERING (
    CO_ID INTEGER PRIMARY KEY,
    CRN INTEGER NOT NULL,
    SECTION VARCHAR NOT NULL,
    COURSE_TITLE VARCHAR NOT NULL,
    CREDITS VARCHAR NOT NULL,
    FOREIGN KEY (CRN) REFERENCES CATALOG_COURSE (CRN)
);

 * sqlite:///CourseData.db
Done.

[]

In [41]:
%%sql
create table INSTRUCTOR (
    I_ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    COURSE_TITLE VARCHAR NOT NULL,
    CRN INTEGER NOT NULL,
    FOREIGN KEY (CRN) REFERENCES COURSE_OFFERING (CRN)
);

 * sqlite:///CourseData.db
Done.

[]

In [42]:
%%sql
create table COURSE_MEETING (
    CM_ID INTEGER PRIMARY KEY,
    CRN INTEGER NOT NULL,
    CAP INTEGER NOT NULL,
    ACT INTEGER,
    REM INTEGER,
    SECTION VARCHAR NOT NULL,
    FOREIGN KEY (SECTION) REFERENCES COURSE_OFFERING (SECTION)
);

 * sqlite:///CourseData.db
Done.

[]

In [43]:
%%sql
create table TIME_CODE (
    TIME_ID INTEGER PRIMARY KEY,
    START_TIME VARCHAR NOT NULL,
    END_TIME VARCHAR NOT NULL,
    CRN INTEGER NOT NULL,
    FOREIGN KEY (CRN) REFERENCES COURSE_OFFERING (CRN)
);

 * sqlite:///CourseData.db
Done.

[]

In [44]:
%%sql
create table LOCATION (
    ROOM_ID INTEGER PRIMARY KEY,
    Room_No VARCHAR NOT NULL,
    CRN INTEGER NOT NULL,
    FOREIGN KEY (CRN) REFERENCES COURSE_MEETING (CRN)
);

 * sqlite:///CourseData.db
Done.

[]

## Import CSV Files

#### Import Courses CSVs using Python Pandas

In [45]:
fall = ['SourceData/Fall2014/courses.csv',
        'SourceData/Fall2015/courses.csv', 
        'SourceData/Fall2016/courses.csv',
        'SourceData/Fall2017/courses.csv',
        'SourceData/Fall2018/courses.csv']
fall_0 = pd.read_csv(fall[0])
fall_1 = pd.read_csv(fall[1])
fall_2 = pd.read_csv(fall[2])    
fall_3 = pd.read_csv(fall[3])
fall_4 = pd.read_csv(fall[4])

In [46]:
winter = ['SourceData/Winter2015/courses.csv', 
          'SourceData/Winter2016/courses.csv',
          'SourceData/Winter2017/courses.csv',
          'SourceData/Winter2018/courses.csv']
winter_0 = pd.read_csv(winter[0])
winter_1 = pd.read_csv(winter[1])
winter_2 = pd.read_csv(winter[2])    
winter_3 = pd.read_csv(winter[3])

In [47]:
spring = ['SourceData/Spring2015/courses.csv',
          'SourceData/Spring2016/courses.csv', 
          'SourceData/Spring2017/courses.csv',
          'SourceData/Spring2018/courses.csv',
          'SourceData/Spring2019/courses.csv',
          'SourceData/SpringBreak2017/courses.csv']
spring_0 = pd.read_csv(spring[0])
spring_1 = pd.read_csv(spring[1])
spring_2 = pd.read_csv(spring[2])    
spring_3 = pd.read_csv(spring[3])
spring_4 = pd.read_csv(spring[4])
spring_5 = pd.read_csv(spring[5])

In [48]:
summer = ['SourceData/Summer2015/courses.csv', 
          'SourceData/Summer2016/courses.csv',
          'SourceData/Summer2017/courses.csv',
          'SourceData/Summer2018/courses.csv']
summer_0 = pd.read_csv(summer[0])
summer_1 = pd.read_csv(summer[1])
summer_2 = pd.read_csv(summer[2])    
summer_3 = pd.read_csv(summer[3])

In [49]:
df_fall = pd.concat([fall_0,fall_1,fall_2,fall_3,fall_4], axis=0)

In [50]:
df_winter = pd.concat([winter_0,winter_1,winter_2,winter_3], axis=0)

In [51]:
df_spring = pd.concat([spring_0,spring_1,spring_2,spring_3,spring_4,spring_5], axis=0)

In [52]:
df_summer = pd.concat([summer_0,summer_1,summer_2,summer_3], axis=0)

In [53]:
df_course = pd.concat([df_fall, df_winter, df_spring, df_summer], axis=0)

In [54]:
df_fall.head(1)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
0,Fall2014,70384,AC 0011,C01,3.000,Introduction to Financial Accounting,"[{'days': 'TF', 'times': '0800am-0915am', 'dat...",['TF 0800am-0915am 09/02-12/08 DSB 105'],Michael P. Coyne,0,31,-31

In [55]:
df_winter.head(1)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
0,Winter2015,10913,AC 0555,01,3.000,Issues in Internal Audit,"[{'days': 'MTWRF', 'times': '1000am-0600pm', '...","['MTWRF 1000am-0600pm 01/05-01/17 DSB 115', 'S...",Dawn W Massey,18,10,8

In [56]:
df_spring.head(1)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
0,Spring2015,32436,AC 0011,A,3.000,Introduction to Financial Accounting,"[{'days': 'MR', 'times': '0200pm-0315pm', 'dat...",['MR 0200pm-0315pm 01/20-04/30 DSB 108'],Dawn W Massey,28,28,0

In [57]:
df_summer.head(1)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
0,Summer2015,55230,AC 0203,A,3.000,Intermediate Accounting I,"[{'days': 'MW', 'times': '0600pm-0930pm', 'dat...","['MW 0600pm-0930pm 05/18-06/24 DSB 106', 'TR 0...",Scott M Brenner,25,9,16

In [58]:
df_course.head(1)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
0,Fall2014,70384,AC 0011,C01,3.000,Introduction to Financial Accounting,"[{'days': 'TF', 'times': '0800am-0915am', 'dat...",['TF 0800am-0915am 09/02-12/08 DSB 105'],Michael P. Coyne,0,31,-31

In [59]:
df_course.to_sql('import_courses', conn, if_exists='append', index=False)

In [60]:
%%sql
select *
from import_courses
limit 1;

 * sqlite:///CourseData.db
Done.

[('Fall2014', 70384, 'AC 0011', 'C01', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0800am-0915am 09/02-12/08 DSB 105']", 'Michael P.  Coyne', 0, 31, -31)]

#### Import Course Meetings CSVs using Python Pandas

In [61]:
fall_2 = ['SourceData/Fall2014/course_meetings.csv',
         'SourceData/Fall2015/course_meetings.csv',
         'SourceData/Fall2016/course_meetings.csv',
         'SourceData/Fall2017/course_meetings.csv',
         'SourceData/Fall2018/course_meetings.csv']
fall_2_0  = pd.read_csv(fall_2[0])
fall_2_1  = pd.read_csv(fall_2[1])
fall_2_2  = pd.read_csv(fall_2[2])
fall_2_3  = pd.read_csv(fall_2[3])
fall_2_4  = pd.read_csv(fall_2[4])

In [62]:
winter_2 = ['SourceData/Winter2015/course_meetings.csv',
           'SourceData/Winter2016/course_meetings.csv',
           'SourceData/Winter2017/course_meetings.csv',
           'SourceData/Winter2018/course_meetings.csv']
winter_2_0  = pd.read_csv(winter_2[0])
winter_2_1  = pd.read_csv(winter_2[1])
winter_2_2  = pd.read_csv(winter_2[2])
winter_2_3  = pd.read_csv(winter_2[3])

In [63]:
spring_2 = ['SourceData/Spring2015/course_meetings.csv',
           'SourceData/Spring2016/course_meetings.csv',
           'SourceData/Spring2017/course_meetings.csv',
           'SourceData/Spring2018/course_meetings.csv',
           'SourceData/Spring2019/course_meetings.csv',
           'SourceData/SpringBreak2017/course_meetings.csv']
spring_2_0  = pd.read_csv(spring_2[0])
spring_2_1  = pd.read_csv(spring_2[1])
spring_2_2  = pd.read_csv(spring_2[2])
spring_2_3  = pd.read_csv(spring_2[3])
spring_2_4  = pd.read_csv(spring_2[4])
spring_2_5  = pd.read_csv(spring_2[5])

In [64]:
summer_2 = ['SourceData/Summer2015/course_meetings.csv',
           'SourceData/Summer2016/course_meetings.csv',
           'SourceData/Summer2017/course_meetings.csv',
           'SourceData/Summer2018/course_meetings.csv']
summer_2_0  = pd.read_csv(summer_2[0])
summer_2_1  = pd.read_csv(summer_2[1])
summer_2_2  = pd.read_csv(summer_2[2])
summer_2_3  = pd.read_csv(summer_2[3])

In [65]:
df_fall_2 = pd.concat([fall_2_0,fall_2_1,fall_2_2,fall_2_3,fall_2_4], axis=0)

In [66]:
df_winter_2 = pd.concat([winter_2_0,winter_2_1,winter_2_2,winter_2_3], axis=0)

In [67]:
df_spring_2 = pd.concat([spring_2_0,spring_2_1,spring_2_2,spring_2_3,
spring_2_4,spring_2_5], axis=0)

In [68]:
df_summer_2 = pd.concat([summer_2_0,summer_2_1,summer_2_2,summer_2_3], axis=0)

In [69]:
df_cmeetings = pd.concat([df_fall_2,df_winter_2,df_spring_2,df_summer_2], axis=0)

In [70]:
df_fall_2.head(1)

       term    crn location day                start                  end
0  Fall2014  70384  DSB 105   T  2014-09-02T08:00:00  2014-09-02T09:15:00

In [71]:
df_winter_2.head(1)

         term    crn location day                start                  end
0  Winter2015  10913  DSB 115   M  2015-01-05T10:00:00  2015-01-05T18:00:00

In [72]:
df_spring_2.head(1)

         term    crn location day                start                  end
0  Spring2015  32436  DSB 108   R  2015-01-22T14:00:00  2015-01-22T15:15:00

In [73]:
df_summer_2.head(1)

         term    crn location day                start                  end
0  Summer2015  55230  DSB 106   M  2015-05-18T18:00:00  2015-05-18T21:30:00

In [74]:
df_cmeetings.head(1)

       term    crn location day                start                  end
0  Fall2014  70384  DSB 105   T  2014-09-02T08:00:00  2014-09-02T09:15:00

In [76]:
df_cmeetings.to_sql('import_cmeetings', conn, if_exists='append', index=False)

In [77]:
%%sql
select *
from import_cmeetings
limit 1;

 * sqlite:///CourseData.db
Done.

[('Fall2014', 70384, 'DSB 105', 'T', '2014-09-02T08:00:00', '2014-09-02T09:15:00')]

#### Import CourseCatalog CSVs

In [78]:
catalog2017 = ['SourceData/Catalogs/CourseCatalog2017_2018.csv']
catalog2017_2018 = pd.read_csv(catalog2017[0])

In [79]:
catalog2018 = ['SourceData/Catalogs/CourseCatalog2018_2019.csv']
catalog2018_2019 = pd.read_csv(catalog2018[0])

In [80]:
df_catalog = pd.concat([catalog2017_2018,catalog2018_2019], axis=0)

In [81]:
df_catalog.to_sql('import_catalog', conn, if_exists='append', index=False)

In [82]:
%%sql
select *
from import_catalog
limit 1;

 * sqlite:///CourseData.db
Done.

[('AN', 'Asian Studies', 'AN 0301', 'Independent Study', '1-3 Credits', None, None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.')]

#### Insert Data to ERD Tables

In [84]:
%%sql
INSERT INTO CATALOG_PROGRAM (CATALOG_ID, PROGRAM_CODE, PROGRAM_NAME, COURSE_TITLE)
    SELECT DISTINCT CATALOG_ID, PROGRAM_CODE, PROGRAM_NAME, COURSE_TITLE
    FROM IMPORT_CATALOG;

 * sqlite:///CourseData.db
2220 rows affected.

[]

In [88]:
%%sql
INSERT INTO CATALOG_COURSE (COURSE_TITLE, PRE_REQS, CO_REQS, CATALOG_ID)
    SELECT DISTINCT import_catalog.course_title, prereqs, coreqs, import_catalog.CATALOG_ID
    FROM IMPORT_CATALOG
    JOIN CATALOG_PROGRAM ON (IMPORT_CATALOG.catalog_id = CATALOG_PROGRAM.CATALOG_ID);

 * sqlite:///CourseData.db
2220 rows affected.

[]

In [89]:
%%sql
INSERT INTO COURSE_OFFERING (CRN, SECTION, COURSE_TITLE, CREDITS)
    SELECT DISTINCT CRN, SECTION, COURSE_TITLE, CREDITS
    FROM IMPORT_COURSES
    JOIN CATALOG_COURSE ON (CATALOG_COURSE.COURSE_TITLE = IMPORT_COURSES.title);

 * sqlite:///CourseData.db
14330 rows affected.

[]

In [90]:
%%sql
INSERT INTO TERM (TERM_NAME, CRN)
    SELECT DISTINCT TERM, IMPORT_CMEETINGS.CRN
    FROM IMPORT_CMEETINGS
    JOIN COURSE_OFFERING ON (COURSE_OFFERING.CRN = IMPORT_CMEETINGS.CRN);

 * sqlite:///CourseData.db
12697 rows affected.

[]

In [92]:
%%sql
INSERT INTO COURSE_MEETING (CRN, SECTION, CAP, ACT, REM)
    SELECT DISTINCT IMPORT_COURSES.CRN, IMPORT_COURSES.SECTION, CAP, ACT, REM
    FROM IMPORT_COURSES
    JOIN COURSE_OFFERING ON (COURSE_OFFERING.SECTION = IMPORT_COURSES.section);

 * sqlite:///CourseData.db
15908 rows affected.

[]

In [93]:
%%sql
INSERT INTO INSTRUCTOR (NAME, COURSE_TITLE, CRN)
    SELECT DISTINCT primary_instructor, COURSE_TITLE, IMPORT_COURSES.CRN
    FROM IMPORT_COURSES
    JOIN COURSE_OFFERING ON (COURSE_OFFERING.COURSE_TITLE = IMPORT_COURSES.title);

 * sqlite:///CourseData.db
14329 rows affected.

[]

In [95]:
%%sql
INSERT INTO TIME_CODE (CRN, START_TIME, END_TIME)
    SELECT DISTINCT IMPORT_CMEETINGS.CRN, START, END
    FROM IMPORT_CMEETINGS
    JOIN COURSE_OFFERING ON (COURSE_OFFERING.CRN = IMPORT_CMEETINGS.crn);

 * sqlite:///CourseData.db
296781 rows affected.

[]

In [96]:
%%sql
INSERT INTO LOCATION (ROOM_NO, CRN)
    SELECT DISTINCT LOCATION, IMPORT_CMEETINGS.CRN
    FROM IMPORT_CMEETINGS
    JOIN COURSE_MEETING ON (COURSE_MEETING.CRN = IMPORT_CMEETINGS.crn);

 * sqlite:///CourseData.db
13731 rows affected.

[]

#### Data Checks

In [97]:
%%sql
select * from CATALOG_PROGRAM limit 1;

 * sqlite:///CourseData.db
Done.

[('AN 0301', 'AN', 'Asian Studies', 'Independent Study')]

In [98]:
%%sql
select * from CATALOG_COURSE limit 1;

 * sqlite:///CourseData.db
Done.

[(1, 'Independent Study', None, None, 'AN 0301')]

In [99]:
%%sql
select * from COURSE_OFFERING limit 1;

 * sqlite:///CourseData.db
Done.

[(1, 70384, 'C01', 'Introduction to Financial Accounting', '3.000')]

In [100]:
%%sql
select * from TERM limit 1;

 * sqlite:///CourseData.db
Done.

[(1, 'Fall2014', 70384)]

In [101]:
%%sql
select * from COURSE_MEETING limit 1;

 * sqlite:///CourseData.db
Done.

[(1, 70384, 0, 31, -31, 'C01')]

In [102]:
%%sql
select * from INSTRUCTOR limit 1;

 * sqlite:///CourseData.db
Done.

[(1, 'Michael P.  Coyne', 'Introduction to Financial Accounting', 70384)]

In [103]:
%%sql
select * from TIME_CODE limit 1;

 * sqlite:///CourseData.db
Done.

[(1, '2014-09-02T08:00:00', '2014-09-02T09:15:00', 70384)]

In [104]:
%%sql
select * from LOCATION limit 1;

 * sqlite:///CourseData.db
Done.

[(1, 'DSB 105', 70384)]

#### Queries on Database

How many 5 credit classes are offered across the whole timeframe?

In [116]:
%%sql
select count(CO_ID)
from course_offering
where credits = '5.000';

 * sqlite:///CourseData.db
Done.

[(38,)]

Which terms has Python for Business Analytics been offered?

In [115]:
%%sql
select a.CATALOG_ID, b.CRN, b.COURSE_TITLE, b.CREDITS, c.TERM_NAME
from CATALOG_COURSE a, COURSE_OFFERING b, TERM c
where a.COURSE_TITLE=b.COURSE_TITLE
and b.CRN=c.CRN
and a.COURSE_TITLE = 'Python for Business Analytics';

 * sqlite:///CourseData.db
Done.

[('IS 0505', 72913, 'Python for Business Analytics', '3.000', 'Fall2014'),
 ('IS 0505', 72913, 'Python for Business Analytics', '3.000', 'Fall2017'),
 ('IS 0505', 75942, 'Python for Business Analytics', '3.000', 'Fall2018')]

Which instructors have taught/teach General Chemistry?

In [114]:
%%sql
select distinct b.name, a.course_title
from COURSE_OFFERING a, INSTRUCTOR b
where a.COURSE_TITLE=b.COURSE_TITLE
and a.COURSE_TITLE = 'General Chemistry I';

 * sqlite:///CourseData.db
Done.

[('Donald J.  Wolanin', 'General Chemistry I'),
 ('Gary H.  Weddle', 'General Chemistry I'),
 ('Jillian E.  Smith-Carpenter', 'General Chemistry I'),
 ('John R.  Miecznikowski', 'General Chemistry I'),
 ('Matthew A.  Kubasik', 'General Chemistry I'),
 ('Robert G.  Fischer', 'General Chemistry I'),
 ('Sangamithra   Chintapalli', 'General Chemistry I')]

Which rooms has Money and Banking been taught in?

In [113]:
%%sql
select distinct c.ROOM_NO, a.COURSE_TITLE 
from COURSE_OFFERING a, COURSE_MEETING b, LOCATION c
where a.CRN=b.CRN
and b.CRN=c.CRN
and a.COURSE_TITLE = 'Money and Banking';

 * sqlite:///CourseData.db
Done.

[('CNS 1', 'Money and Banking'),
 ('CNS 15', 'Money and Banking'),
 ('CNS 305', 'Money and Banking'),
 ('DMH 149', 'Money and Banking'),
 ('BNW 341', 'Money and Banking'),
 ('LYL 227B', 'Money and Banking'),
 ('NHS 403', 'Money and Banking'),
 ('LNG 109', 'Money and Banking'),
 ('DMH 350', 'Money and Banking'),
 ('DMH 347', 'Money and Banking')]

Which classes in Fall 2018 were over overcapacity?

In [112]:
%%sql
select a.course_title, b.CAP, b.ACT
from COURSE_OFFERING a, COURSE_MEETING b, TERM c
where a.CRN=b.CRN
and b.CRN=c.CRN
and b.act > b.cap
and cap <> 0
and c.term_name = 'Fall2018';

 * sqlite:///CourseData.db
Done.

[('Introduction to Financial Accounting', 31, 33),
 ('Introduction to Financial Accounting', 31, 33),
 ('Introduction to Financial Accounting', 31, 32),
 ('Intermediate Accounting I', 22, 24),
 ('Intermediate Accounting I', 22, 24),
 ('General Biology I', 22, 24),
 ('Intermediate Accounting I', 22, 24),
 ('Auditing', 27, 28),
 ('Issues in Accounting Ethics', 15, 18),
 ('Issues in Accounting Ethics', 15, 16),
 ('Issues in Accounting Ethics', 15, 17),
 ('Issues in Accounting Ethics', 16, 17),
 ('Operations Management', 16, 17),
 ('Research on Contemporary Issues in Accounting', 15, 17),
 ('Operations Management', 15, 17),
 ('Research on Contemporary Issues in Accounting', 15, 17),
 ('Introduction to Four-Field Anthropology', 28, 29),
 ('Art of Africa, the Caribbean, and the Americas', 25, 26),
 ('Art and Archaeology of Ancient Egypt: Images for Eternity', 25, 26),
 ('Intermediate French I', 25, 26),
 ('Human Biology: Form and Function', 24, 25),
 ('Environmental Science', 12, 13),
 ('Texts and Contexts I: Writing as Craft and Inquiry', 12, 13),
 ('Human Anatomy and Physiology I', 13, 14),
 ('Human Anatomy and Physiology I', 18, 20),
 ('Introductory Principles of Epidemiology', 5, 6),
 ('Pediatric Nursing Clinical', 5, 6),
 ('Biochemistry II', 12, 13),
 ('Evolutionary Biology Lab', 7, 8),
 ('Medical Surgical Nursing II Clinical', 7, 8),
 ('Biology Research VI', 7, 8),
 ('Medical Surgical Nursing II Clinical', 7, 8),
 ('Legal Environment of Business', 25, 27),
 ('Communication Research Design and Methodologies', 20, 32),
 ('Python for Business Analytics', 20, 27),
 ('General Chemistry for Health Science', 20, 21),
 ('General Psychology', 24, 25),
 ('Molecules of Life', 24, 25),
 ('Organic Chemistry I', 25, 26),
 ('Biochemistry I', 12, 17),
 ('Fundamentals of Nursing Care Lab', 5, 8),
 ('Hellenistic World, 336-30 BCE', 5, 8),
 ('Introduction to Organizational Communication', 35, 37),
 ('Alcohol, Addiction and Culture', 23, 24),
 ('Research Projects in Communication: Capstone', 15, 16),
 ('Children as Media Consumers', 20, 22),
 ('Communication Philosophies, Theories, and Research Traditions', 15, 16),
 ('Futures and Options Markets', 15, 16),
 ('Applied Business Statistics', 3, 4),
 ('Visual Communication', 3, 4),
 ('Health Risk Communication', 20, 21),
 ('Introduction to Computing', 20, 24),
 ('Probability Theory', 20, 24),
 ('Introduction to Computing', 15, 17),
 ('Microcontroller Lab', 15, 17),
 ('Introduction to Financial Accounting', 29, 30),
 ('Programming Workshop Lab', 29, 30),
 ('The Law of Commercial Transactions: Advanced Studies in the Uniform Commerical Code', 15, 19),
 ('Assessment in Counseling', 18, 21),
 ('Introduction to Microeconomics', 26, 27),
 ('Introduction to Microeconomics', 26, 28),
 ('Introduction to Microeconomics', 26, 27),
 ('Evolutionary Biology', 16, 17),
 ('Industrial Organization and Competitive Strategy', 16, 17),
 ('Advanced Linear Systems', 37, 40),
 ('General Chemistry I', 37, 40),
 ('Electric Circuits Lab', 13, 15),
 ('Electric Circuits Lab', 12, 13),
 ('Electric Circuits Lab', 13, 14),
 ('Engineering Graphics II', 30, 31),
 ('Public Relations', 30, 31),
 ('Senior Design Project I', 60, 62),
 ('Texts and Contexts I: Writing as Craft and Inquiry', 19, 20),
 ('Origins and Transformations in Western Art', 19, 20),
 ('Texts and Contexts I: Writing as Craft and Inquiry', 19, 20),
 ('19th-Century Russian Novel and World Literature', 25, 28),
 ('Auditing', 25, 28),
 ('American Short Story', 25, 26),
 ('People, Places, and Global Issues', 25, 26),
 ('Production Practicum in Film, Television, and Media Arts', 10, 17),
 ('The Woman Question: Early Feminism and 19th Century Transatlantic Literature', 10, 17),
 ('Introduction to Film and Video Production', 29, 30),
 ('Introduction to Finance', 25, 27),
 ('Fundamentals of Nursing Care Lab', 25, 26),
 ('Introduction to Finance', 25, 26),
 ('Global Capital Markets', 25, 27),
 ('Global Capital Markets', 27, 28),
 ('Introduction to Political Theory', 27, 28),
 ('Principles of Investment', 28, 29),
 ('Principles of Investment', 28, 29),
 ('Financial Management', 25, 26),
 ('Financial Management', 25, 27),
 ('Financial Management', 26, 27),
 ('Operations Management', 26, 27),
 ('Accelerated Statistics', 28, 29),
 ('Financial Trading and Strategic Simulations', 28, 29),
 ('Financial Trading and Strategic Simulations', 15, 16),
 ('Educational Psychology', 18, 19),
 ('Introduction to Health Studies', 25, 26),
 ('Introduction to Health Studies', 20, 22),
 ('Introduction to Health Studies', 25, 26),
 ('Logic', 20, 23),
 ('Origins of the Modern World Since 1500', 20, 23),
 ('Introduction to Microeconomics', 25, 26),
 ('Origins of the Modern World Since 1500', 25, 26),
 ('Origins of the Modern World Since 1500', 26, 27),
 ('History of Western Science', 29, 30),
 ('Hellenistic World, 336-30 BCE', 20, 22),
 ('Research Methods for Evidenced-Based Practice', 20, 22),
 ('Adult Health I', 15, 16),
 ('The Holocaust in History and Memory', 15, 16),
 ('Mental Health Nursing Clinical', 6, 7),
 ('Introduction to Information Systems', 25, 27),
 ('Introduction to Information Systems', 27, 28),
 ('Introduction to Information Systems', 27, 28),
 ('Business Strategies in the Global Environment', 20, 22),
 ('Fundamentals of Business Analytics', 20, 22),
 ('Fundamentals of Business Analytics', 19, 21),
 ('Senior Capstone Seminar', 10, 12),
 ('Managing Human Resources', 25, 26),
 ('Leading and Managing People', 26, 28),
 ('Business Strategies in the Global Environment', 25, 26),
 ('Principles of Marketing', 27, 29),
 ('Principles of Marketing', 27, 29),
 ('Principles of Marketing', 27, 28),
 ('Principles of Marketing', 27, 29),
 ('Principles of Marketing', 28, 29),
 ('Principles of Marketing', 27, 28),
 ('Principles of Marketing', 27, 28),
 ('Marine Invertebrate Zoology Lab', 27, 29),
 ('Principles of Marketing', 27, 29),
 ('Digital Marketing', 25, 26),
 ('Principles of Marketing', 25, 26),
 ('Digital Marketing', 16, 17),
 ('Evolutionary Biology Lab', 16, 17),
 ('Fundamentals of Microbiology Lab', 16, 17),
 ('Social Media Marketing', 16, 17),
 ('Marketing Research', 30, 31),
 ('Marketing Research', 28, 29),
 ('Global Marketing', 25, 26),
 ('Intermediate Accounting I', 24, 34),
 ('Techniques of Narrative and Solution-Focused Therapy', 24, 34),
 ('Divorce, Single-Parenting, and Remarriage', 21, 22),
 ('Federal Income Taxation I', 25, 26),
 ('Practicum in Family Therapy II', 25, 26),
 ('Practicum in Family Therapy II', 28, 29),
 ('Principles of Investment', 28, 29),
 ('Accelerated Statistics', 28, 29),
 ('Practicum in Family Therapy II', 28, 29),
 ('Introduction to Sociology', 20, 22),
 ('Precalculus', 20, 22),
 ('Concepts of Calculus', 25, 26),
 ('Music Theory and Composition I', 25, 26),
 ('Concepts of Calculus', 25, 26),
 ('Introduction to the Music Industry', 25, 26),
 ('Applied Calculus I', 30, 31),
 ('Applied Calculus I', 30, 31),
 ('Calculus I for Chemistry, Engineering, and Physics Majors', 25, 26),
 ('Accelerated Statistics', 28, 29),
 ('Calculus III for Chemistry, Engineering, and Physics Majors', 25, 26),
 ('Engineering Statics', 15, 17),
 ('Materials Science', 15, 24),
 ('Materials Science', 15, 23),
 ('Software Engineering Methods', 15, 23),
 ('Machine Design', 15, 17),
 ('Engineering Systems Dynamics', 17, 18),
 ('Heat Transfer', 17, 19),
 ('Introduction to Microeconomics', 17, 19),
 ('Energy Transfer Lab', 15, 16),
 ('Applications of Finite Element Analysis', 18, 21),
 ('Comprehensive Exam in Applied Psychology', 18, 21),
 ('Existentialism', 20, 23),
 ('History of Choral Music', 20, 23),
 ('Introduction to Asian Philosophies', 20, 21),
 ('Popular Music Theory and Composition', 20, 21),
 ('Geriatric Nursing Clinical', 25, 26),
 ('Literature by Women: Vision and Revision', 25, 26),
 ('Basic Pathophysiology and Pharmacology', 24, 25),
 ('Fundamentals of Nursing Care', 64, 65),
 ('Maternal and Newborn Nursing Clinical', 25, 26),
 ('The Nature of the Universe', 25, 26),
 ('Mental Health Nursing Clinical', 31, 32),
 ('Pediatric Nursing', 31, 32),
 ('Financial Management', 28, 29),
 ('Pediatric Nursing Clinical', 28, 29),
 ('Advanced Nursing Roles and Reflective Practice', 25, 27),
 ('Managing Human Resources', 25, 27),
 ('Career Planning', 25, 33),
 ('Population Health', 25, 33),
 ('Operations Management', 25, 26),
 ('Operations Management', 25, 26),
 ('Operations Management', 25, 26),
 ('Introduction to Philosophy', 25, 26),
 ('Modern Philosophy', 20, 21),
 ('Ancient Medicine and Philosophy', 20, 21),
 ('Elements of Microbiology Lab', 20, 21),
 ('Advertising', 20, 21),
 ('Philosophy of Science', 20, 21),
 ('Introduction to Asian Philosophies', 20, 22),
 ('General Physics I', 24, 25),
 ('General Physics I', 24, 26),
 ('Systems Analysis and Logical Design', 24, 26),
 ('General Physics I', 25, 26),
 ('Leading and Managing People', 25, 26),
 ('Diversity in the Workplace', 24, 25),
 ('General Physics I', 24, 25),
 ('Diversity in the Workplace', 25, 26),
 ('General Physics I', 25, 26),
 ('General Physics I', 24, 25),
 ('Calculus III for Chemistry, Engineering, and Physics Majors', 30, 32),
 ('General Psychology', 10, 12),
 ('Lifespan Human Development', 10, 12),
 ('Developmental Psychology for Non-Majors', 1, 23),
 ('Developmental Psychology for Non-Majors', 1, 25),
 ('Abnormal Psychology for Non-Majors', 8, 9),
 ('Health and Wellness Clinical', 8, 9),
 ('Health and Wellness Clinical', 8, 9),
 ('Sensation and Perception', 8, 9),
 ('Health and Wellness Clinical', 8, 9),
 ('Senior Seminar: Current Issues in Clinical Psychology', 8, 9),
 ('Financial Management and Budgeting', 15, 18),
 ('Business Forecasting and Predictive Analytics', 20, 27),
 ('Developmental Literacy I: Fundamentals of Reading and Language Development', 10, 12),
 ('Introduction to Philosophy', 10, 12),
 ('Guided Reflective Practice in Tier I Reading and Language Arts Programming', 20, 21),
 ('Introduction to Philosophy', 20, 21),
 ('Assessment and Differentiated Instruction', 16, 21),
 ('Exploring Religion: Peoples of the Book, Sacred Texts, and Their Communities', 16, 21),
 ('Criminology', 25, 27),
 ('The Reformation Era', 25, 27),
 ('Catholic Social Teaching', 25, 26),
 ('Strategic Management of Technology and Innovation: The Entrepreneurial Firm', 25, 26),
 ("I'm Spiritual, Not Religious: The American Spiritual Tradition", 15, 18),
 ('The Law of Commercial Transactions: Advanced Studies in the Uniform Commerical Code', 15, 18),
 ('Race, Gender, and Ethnic Relations', 28, 30),
 ('Health and Wellness Clinical', 8, 9),
 ('Urban/Suburban Sociology: NYC', 8, 9),
 ('Feminism, Gender, and Everyday Life', 20, 22),
 ('Health and Wellness Clinical', 8, 9),
 ('Population: Birth, Death, and Migration', 8, 9),
 ('Web Development', 22, 23),
 ('Advanced Programming in Java', 24, 25),
 ('Introduction to Microeconomics', 11, 12),
 ('Software Project Management', 11, 12),
 ('Elementary Spanish I', 24, 31),
 ('Intermediate Accounting I', 24, 31),
 ('Elementary Spanish II', 18, 19),
 ('Intermediate Spanish I', 19, 20),
 ('Intermediate Spanish II', 18, 19),
 ('Topics in Language and Culture', 25, 27),
 ('Analysis and Interpretation of Hispanic Literature', 35, 39),
 ('Precalculus', 35, 39),
 ('Maternal and Newborn Nursing Clinical', 6, 7),
 ('Popular Culture in Latin America', 6, 7),
 ('Accelerated Statistics', 28, 29),
 ('Management Techniques in Special Education', 28, 29),
 ('Issues in Accounting Ethics', 15, 17),
 ('Student Teaching and Practica Seminar in Special Education', 15, 17),
 ('Special Learners in the Bilingual/ESL Classroom', 10, 11),
 ('Texts and Contexts I: Writing as Craft and Inquiry', 10, 11),
 ('Elementary Student Teaching: Immersion in a Community of Practice', 15, 16),
 ('Special Learners in the Bilingual/ESL Classroom', 15, 16),
 ('Linguistic Foundations of English Acquisition', 12, 14),
 ('Research on Contemporary Issues in Accounting', 12, 14),
 ('Research on Contemporary Issues in Accounting', 12, 14),
 ('Entity Taxation', 23, 26)]

#### Drop Import Tables to Save Space

In [117]:
%%sql
DROP TABLE IF EXISTS import_courses;
DROP TABLE IF EXISTS import_cmeetings;
DROP TABLE IF EXISTS import_catalog;
vacuum;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.

[]