#### Queries on Database

In [54]:
import sqlite3

In [55]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [56]:
%%sql
sqlite:///CourseDataWareHouse.db

'Connected: @CourseDataWareHouse.db'

#### 1. What are the pre-requisites, co-requisites for course 'Project Management'

In [57]:
%%sql
select CC_ID, PRE_REQS, CO_REQS
from COURSES
where COURSE_TITLE = 'Project Management';

 * sqlite:///CourseDataWareHouse.db
Done.

[(528, 'EC 0278 or MA 0017 or MA 0217.', None),
 (729, None, None),
 (1153, 'IS 0500 or OM 0400.', None)]

#### 2. Where were the course meetings for Fundamentals of Business Analytics held in Fall 2018?

In [58]:
%%sql
select distinct COURSE_FACTS.ROOM_ID, COURSE_FACTS.CC_ID, MEETINGS.ROOM_NO, COURSES.COURSE_TITLE 
from COURSE_FACTS, MEETINGS, COURSES
where COURSE_FACTS.CC_ID=COURSES.CC_ID
and COURSE_FACTS.ROOM_ID=MEETINGS.ROOM_ID
and COURSES.COURSE_TITLE = 'Fundamentals of Business Analytics'
and COURSE_FACTS.TERM_NAME = 'Fall2018';

 * sqlite:///CourseDataWareHouse.db
Done.

[(5524, 921, 'DSB 107', 'Fundamentals of Business Analytics'),
 (5525, 921, 'DSB 107', 'Fundamentals of Business Analytics'),
 (5523, 921, 'DSB 107', 'Fundamentals of Business Analytics')]

#### 3. When were the classes for Databases for Business Analytics held in Spring 2019?

In [59]:
%%sql
select distinct COURSE_FACTS.TIME_ID, COURSE_FACTS.CC_ID, COURSES.COURSE_TITLE, TIME.START_TIME, TIME.END_TIME
from COURSE_FACTS, COURSES, TIME
where COURSE_FACTS.TIME_ID = TIME.TIME_ID
and COURSE_FACTS.CC_ID = COURSES.CC_ID
and COURSES.COURSE_TITLE = 'Databases for Business Analytics'
and COURSE_FACTS.TERM_NAME = 'Spring2019';

 * sqlite:///CourseDataWareHouse.db
Done.

[(264335, 1152, 'Databases for Business Analytics', '2019-01-29T18:30:00', '2019-01-29T21:30:00'),
 (264336, 1152, 'Databases for Business Analytics', '2019-02-05T18:30:00', '2019-02-05T21:30:00'),
 (264337, 1152, 'Databases for Business Analytics', '2019-02-12T18:30:00', '2019-02-12T21:30:00'),
 (264338, 1152, 'Databases for Business Analytics', '2019-02-26T18:30:00', '2019-02-26T21:30:00'),
 (264339, 1152, 'Databases for Business Analytics', '2019-03-05T18:30:00', '2019-03-05T21:30:00'),
 (264340, 1152, 'Databases for Business Analytics', '2019-03-12T18:30:00', '2019-03-12T21:30:00'),
 (264341, 1152, 'Databases for Business Analytics', '2019-01-29T09:00:00', '2019-01-29T16:00:00'),
 (264342, 1152, 'Databases for Business Analytics', '2019-02-05T09:00:00', '2019-02-05T16:00:00'),
 (264343, 1152, 'Databases for Business Analytics', '2019-02-12T09:00:00', '2019-02-12T16:00:00'),
 (264344, 1152, 'Databases for Business Analytics', '2019-02-26T09:00:00', '2019-02-26T16:00:00'),
 (264345, 1152, 'Databases for Business Analytics', '2019-03-05T09:00:00', '2019-03-05T16:00:00'),
 (264346, 1152, 'Databases for Business Analytics', '2019-03-12T09:00:00', '2019-03-12T16:00:00'),
 (264347, 1152, 'Databases for Business Analytics', '2019-02-02T09:00:00', '2019-02-02T16:00:00'),
 (264348, 1152, 'Databases for Business Analytics', '2019-02-16T09:00:00', '2019-02-16T16:00:00'),
 (264349, 1152, 'Databases for Business Analytics', '2019-03-09T09:00:00', '2019-03-09T16:00:00')]

#### 4. What courses did Professor Huntley teach in Spring 2019?

In [80]:
%%sql
select distinct COURSE_FACTS.CC_ID, COURSE_FACTS.I_ID, COURSES.COURSE_TITLE, PROFESSOR.NAME
from COURSE_FACTS, COURSES, PROFESSOR
where COURSE_FACTS.CC_ID = COURSES.CC_ID
and COURSE_FACTS.I_ID = PROFESSOR.I_ID
and PROFESSOR.NAME like '%Huntley%'
and COURSE_FACTS.TERM_NAME = 'Spring2019';

 * sqlite:///CourseDataWareHouse.db
Done.

[(463, 12869, 'Operations Management', 'Christopher L.  Huntley'),
 (463, 12870, 'Operations Management', 'Christopher L.  Huntley'),
 (1152, 12005, 'Databases for Business Analytics', 'Christopher L.  Huntley')]

#### 5. Which classes were held in DSB 105 in Spring 2019?

In [83]:
%%sql
select distinct COURSES.COURSE_TITLE, MEETINGS.ROOM_NO
from COURSE_FACTS, COURSES, MEETINGS
where COURSE_FACTS.CC_ID = COURSES.CC_ID
and COURSE_FACTS.ROOM_ID = MEETINGS.ROOM_ID
and MEETINGS.ROOM_NO = 'DSB 105'
and COURSE_FACTS.TERM_NAME = 'Spring2019';

 * sqlite:///CourseDataWareHouse.db
Done.

[('Entrepreneurship', 'DSB 105'),
 ('Forensic Accounting', 'DSB 105'),
 ('Legal Environment of Business', 'DSB 105'),
 ('Global Competitive Strategy', 'DSB 105'),
 ('Global Capital Markets', 'DSB 105'),
 ('Sports Management', 'DSB 105'),
 ('Intermediate Accounting II', 'DSB 105'),
 ('Introduction to Management Accounting', 'DSB 105'),
 ('Principles of Marketing', 'DSB 105'),
 ('Introduction to Management', 'DSB 105'),
 ('Business Strategies in the Global Environment', 'DSB 105'),
 ('Databases for Business Analytics', 'DSB 105')]

#### 6. Which professors took the classes for Marketing Research in Spring 2019?

In [84]:
%%sql
select distinct COURSE_FACTS.CC_ID, COURSE_FACTS.I_ID, COURSES.COURSE_TITLE, PROFESSOR.NAME
from COURSE_FACTS, COURSES, PROFESSOR
where COURSE_FACTS.CC_ID = COURSES.CC_ID
and COURSE_FACTS.I_ID = PROFESSOR.I_ID
and COURSES.COURSE_Title = 'Marketing Research'
and COURSE_FACTS.TERM_NAME = 'Spring2019';

 * sqlite:///CourseDataWareHouse.db
Done.

[(869, 12564, 'Marketing Research', 'Camelia   Micu'),
 (869, 12565, 'Marketing Research', 'Camelia   Micu'),
 (869, 12566, 'Marketing Research', 'Andrew M.  Blum'),
 (869, 12567, 'Marketing Research', 'Andrew M.  Blum'),
 (1161, 12564, 'Marketing Research', 'Camelia   Micu'),
 (1161, 12565, 'Marketing Research', 'Camelia   Micu'),
 (1161, 12566, 'Marketing Research', 'Andrew M.  Blum'),
 (1161, 12567, 'Marketing Research', 'Andrew M.  Blum')]

#### 7. What classed were held in DSB 105 in Spring 2019 and when?

In [81]:
%%sql
select distinct COURSE_FACTS.TIME_ID, COURSE_FACTS.CC_ID, COURSES.COURSE_TITLE, MEETINGS.ROOM_NO, TIME.START_TIME, TIME.END_TIME
from COURSE_FACTS, COURSES, TIME, MEETINGS
where COURSE_FACTS.TIME_ID = TIME.TIME_ID
and COURSE_FACTS.CC_ID = COURSES.CC_ID
and COURSE_FACTS.ROOM_ID = MEETINGS.ROOM_ID
and MEETINGS.ROOM_NO = 'DSB 105'
and COURSE_FACTS.TERM_NAME = 'Spring2019';

 * sqlite:///CourseDataWareHouse.db
Done.

[(275296, 1529, 'Entrepreneurship', 'DSB 105', '2019-01-25T18:30:00', '2019-01-25T21:30:00'),
 (275297, 1529, 'Entrepreneurship', 'DSB 105', '2019-02-01T18:30:00', '2019-02-01T21:30:00'),
 (275298, 1529, 'Entrepreneurship', 'DSB 105', '2019-02-08T18:30:00', '2019-02-08T21:30:00'),
 (275299, 1529, 'Entrepreneurship', 'DSB 105', '2019-02-15T18:30:00', '2019-02-15T21:30:00'),
 (275300, 1529, 'Entrepreneurship', 'DSB 105', '2019-02-22T18:30:00', '2019-02-22T21:30:00'),
 (275301, 1529, 'Entrepreneurship', 'DSB 105', '2019-03-01T18:30:00', '2019-03-01T21:30:00'),
 (275302, 1529, 'Entrepreneurship', 'DSB 105', '2019-03-08T18:30:00', '2019-03-08T21:30:00'),
 (275303, 1529, 'Entrepreneurship', 'DSB 105', '2019-03-15T18:30:00', '2019-03-15T21:30:00'),
 (275304, 1529, 'Entrepreneurship', 'DSB 105', '2019-03-29T18:30:00', '2019-03-29T21:30:00'),
 (275305, 1529, 'Entrepreneurship', 'DSB 105', '2019-04-05T18:30:00', '2019-04-05T21:30:00')]

#### 8. Which courses were over capacity in Spring2019?

In [99]:
%%sql
select distinct COURSES.COURSE_TITLE, (COURSE_FACTS.ACT-COURSE_FACTS.CAP) AS OVER_CAP
from COURSE_FACTS, COURSES
where COURSE_FACTS.CC_ID = COURSES.CC_ID
and COURSE_FACTS.TERM_NAME = 'Spring2019'
GROUP BY COURSE_TITLE
HAVING OVER_CAP > 0;

 * sqlite:///CourseDataWareHouse.db
Done.

[('Abnormal Psychology for Majors', 1),
 ('Accounting Information Systems and Technology', 4),
 ('All About Eve', 3),
 ('Assessment Techniques in Marriage and Family Therapy', 3),
 ('Auditing', 4),
 ('Career Development: Theory and Practice', 3),
 ('Celtic and Early Irish Art', 2),
 ('Conflict Communication', 1),
 ('Counseling Practicum', 1),
 ('Cultural Anthropology', 1),
 ('Customer Behavior', 1),
 ('Databases for Business Analytics', 2),
 ('Design of Mechatronics Systems', 1),
 ('Early America to 1800', 3),
 ('Ethics and Communication', 2),
 ('Explorations in Education: Introduction to Teaching, Learning, and Schooling', 5),
 ('Federal Income Taxation I', 2),
 ('Finite Element Analysis', 1),
 ('Fluid Mechanics', 1),
 ('Gender, Sexuality, and Media', 1),
 ('General Chemistry for Health Science', 1),
 ('General Chemistry for Health Science Lab', 1),
 ('God and Modern Biology', 1),
 ('Graphic Novels as Thriller and Chillers', 1),
 ('Health Communication', 1),
 ('Historical Perspectives on Contemporary Global Crises', 1),
 ('In the Wake of Destruction: Europe Since World War II', 2),
 ('Introduction to Clinical Supervision', 1),
 ('Introduction to Financial Accounting', 1),
 ('Issues in Internal Audit', 2),
 ('Language of Food in Italian Culture', 2),
 ('Modern China: 1800 to Present', 1),
 ('Modern Experimental Methods Lab', 1),
 ('Music of the 20th Century', 4),
 ('News Writing', 1),
 ('Persuasion', 2),
 ('Private Lessons: Piano', 1),
 ('Public Relations', 1),
 ('STEM of Guitar', 1),
 ('Senior Design Project II', 2),
 ('TESOL/Bilingual Student Teaching and DSAP I Seminar', 2),
 ('Texts and Contexts I: Writing as Craft and Inquiry', 1),
 ('The Roman World in Late Antiquity, 284-642 AD', 1),
 ('Violence and the Sacred', 1),
 ('Web Development II with ASP.NET', 3),
 ('World Language Seminar', 1)]