## Boilerplate Setup Code
Run this to set up %sql and %%sql magics

In [ ]:
%load_ext sql

In [ ]:
%%sql
sqlite:///CourseData.db

Drop Table For Any Future Rerun of Code

In [ ]:
%%sql
drop table if exists catalog_program;

In [ ]:
%%sql
drop table if exists catalog_course;

In [ ]:
%%sql
drop table if exists term;

In [ ]:
%%sql
drop table if exists course_offering;

In [ ]:
%%sql
drop table if exists instructor;

In [ ]:
%%sql
drop table if exists course_meeting;

In [ ]:
%%sql
drop table if exists timecode;

In [ ]:
%%sql
drop table if exists location;

Create Database Tables From ERD

In [ ]:
%%sql
create table catalog_program (
    CP_ID INTEGER PRIMARY KEY,
    
);

In [ ]:
%%sql
create table catalog_course (
    CC_ID INTEGER PRIMARY KEY,
    
);

In [ ]:
%%sql
create table term (
    T_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table course_offering (
    CO_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table instructor (
    I_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table course_meeting (
    CM_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table time_code (
    TC_ID INTEGER PRIMARY KEY,

);

In [ ]:
%%sql
create table location (
    L_ID INTEGER PRIMARY KEY,

);

Import CSV Files Using sqlite3
##The Name of each import table should be 
IMPORT_CSV filename
IMPORT filesname table

Write SELECT Queries to Transform the data in your IMPORT Tables
to match your ERD tables

Use INSERT INTO tablename SELECT to populate the ERD tables