Import Librarys

In [1]:
import pandas as pd 
import numpy as np
import sqlite3
conn = sqlite3.connect('CourseDataWareHouse.db')
c = conn.cursor()

In [2]:
%load_ext sql

In [3]:
%%sql
sqlite:///CourseDataWareHouse.db

'Connected: @CourseDataWareHouse.db'

Drop Tables For Rerun Ability

In [4]:
%%sql
DROP TABLE IF EXISTS COURSES;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS MEETINGS;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS PROFESSOR;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS TIME;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [8]:
%%sql
DROP TABLE IF EXISTS COURSE_FACTS;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

Create Data Warehouse Tables

In [9]:
%%sql
create table 'COURSES' (
    CC_ID INTEGER PRIMARY KEY,
    COURSE_TITLE VARCHAR NOT NULL, 
    PRE_REQS VARCHAR, 
    CO_REQS VARCHAR  
);

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [10]:
%%sql
create table 'MEETINGS' (
    ROOM_ID INTEGER PRIMARY KEY,
    ROOM_NO VARCHAR NOT NULL
);

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [11]:
%%sql
create table 'PROFESSOR'(
    I_ID INTEGER PRIMARY KEY,
    NAME VARCHAR NOT NULL,
    COURSE_TITLE VARCHAR NOT NULL
);

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [12]:
%%sql
create table 'TIME'(
    TIME_ID INTEGER PRIMARY KEY,
    START_TIME VARCHAR NOT NULL,
    END_TIME VARCHAR NOT NULL
);

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [13]:
%%sql
create table 'COURSE_FACTS'(
    CF_ID INTEGER PRIMARY KEY,
    ACT INTEGER,
    CAP INTEGER NOT NULL,
    REM INTEGER,
    AVG_CAP INTEGER NOT NULL,
    MAX_CAP INTEGER NOT NULL,
    MIN_CAP INTEGER,
    CC_ID INTEGER NOT NULL,
    ROOM_ID INTEGER NOT NULL,
    I_ID INTEGER NOT NULL,
    TIME_ID INTEGER NOT NULL,
    FOREIGN KEY (CC_ID) REFERENCES COURSES (CC_ID)
    FOREIGN KEY (ROOM_ID) REFERENCES MEETINGS (ROOM_ID)
    FOREIGN KEY (I_ID) REFERENCES PROFESSOR (I_ID)
    FOREIGN KEY (TIME_ID) REFERENCES TIME (TIME_ID)
);

 * sqlite:///CourseDataWareHouse.db
Done.

[]

Insert Data into Data Warehouse Tables

In [14]:
%%sql
INSERT INTO COURSES (CC_ID, COURSE_TITLE, PRE_REQS, CO_REQS)
SELECT DISTINCT CC_ID, COURSE_TITLE, PRE_REQS, CO_REQS
FROM CATALOG_COURSE;

 * sqlite:///CourseDataWareHouse.db
2220 rows affected.

[]

In [15]:
%%sql
SELECT *
FROM COURSES
LIMIT 2;

 * sqlite:///CourseDataWareHouse.db
Done.

[(1, 'Independent Study', None, None),
 (2, 'Asian Studies Seminar', None, None)]

In [16]:
%%sql
INSERT INTO MEETINGS (ROOM_ID, ROOM_NO)
SELECT DISTINCT ROOM_ID, ROOM_NO
FROM LOCATION;

 * sqlite:///CourseDataWareHouse.db
13731 rows affected.

[]

In [17]:
%%sql
SELECT *
FROM MEETINGS
LIMIT 2;

 * sqlite:///CourseDataWareHouse.db
Done.

[(1, 'DSB 105'), (2, 'DSB 105')]

In [18]:
%%sql
INSERT INTO PROFESSOR (I_ID, NAME, COURSE_TITLE)
SELECT DISTINCT I_ID, NAME , COURSE_TITLE
FROM INSTRUCTOR;

 * sqlite:///CourseDataWareHouse.db
14329 rows affected.

[]

In [19]:
%%sql
SELECT *
FROM PROFESSOR
LIMIT 2;

 * sqlite:///CourseDataWareHouse.db
Done.

[(1, 'Michael P.  Coyne', 'Introduction to Financial Accounting'),
 (2, 'Michael P.  Coyne', 'Introduction to Financial Accounting')]

In [20]:
%%sql
INSERT INTO TIME (time_id, start_time, end_time)
SELECT DISTINCT time_id, start_time, end_time
FROM TIME_CODE;

 * sqlite:///CourseDataWareHouse.db
296781 rows affected.

[]

In [21]:
%%sql
SELECT *
FROM TIME
LIMIT 2;

 * sqlite:///CourseDataWareHouse.db
Done.

[(1, '2014-09-02T08:00:00', '2014-09-02T09:15:00'),
 (2, '2014-09-05T08:00:00', '2014-09-05T09:15:00')]

In [22]:
%%sql
INSERT INTO COURSE_FACTS (ACT, CAP, REM, CC_ID, ROOM_ID, I_ID, TIME_ID)
SELECT DISTINCT ACT, CAP, REM, CC_ID, ROOM_ID, I_ID, TIME_ID
FROM COURSE_MEETING
    LEFT JOIN COURSES USING (CC_ID)
    LEFT JOIN MEETINGS USING (ROOM_ID)
    LEFT JOIN PROFESSOR USING (I_ID)
    LEFT JOIN TIME USING (TIME_ID);

 * sqlite:///CourseDataWareHouse.db
(sqlite3.OperationalError) cannot join using column CC_ID - column not present in both tables [SQL: 'INSERT INTO COURSE_FACTS (ACT, CAP, REM, CC_ID, ROOM_ID, I_ID, TIME_ID)\nSELECT DISTINCT ACT, CAP, REM, CC_ID, ROOM_ID, I_ID, TIME_ID\nFROM COURSE_MEETING\n    LEFT JOIN COURSES USING (CC_ID)\n    LEFT JOIN MEETINGS USING (ROOM_ID)\n    LEFT JOIN PROFESSOR USING (I_ID)\n    LEFT JOIN TIME USING (TIME_ID);'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [23]:
%%sql
SELECT *
FROM COURSE_FACTS
LIMIT 2;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

Fill in the rest of the fact table with calcs

AVG_CAP calc

MAX_CAP calc

MIN_CAP calc

merge AVG_CAP to fact table

merge MAX_CAP to fact table

merge MIN_CAP to fact table

In [24]:
%%sql
VACUUM

 * sqlite:///CourseDataWareHouse.db
Done.

[]

Trying to Use Python - Code Doesn't Work Right Now

In [ ]:
import pandas as pd

In [25]:
PROGRAMS = 'SELECT PROGRAM_CODE, PROGRAM_NAME, COURSE_TITLE FROM CATALOG_PROGRAM;'

In [ ]:
programs_df = pd.read_sql(programs, conn_new)
programs_df.head()

In [34]:
COURSE_DETAILS = 'SELECT PRE_REQS, CO_REQS FROM CATALOG_COURSE;'

In [ ]:
courses_details_df = pd.read_sql(COURSE_DETAILS, conn_new)
courses_details_df.head()

In [31]:
CREDITS = 'SELECT CREDITS FROM COURSE_OFFERING;'

In [ ]:
credits_df = pd.read_sql(credits, conn_new)
credits_df.head()

In [ ]:
df_courses = pd.concat([programs_df,courses_details_df,credits_df], axis=1)
df_courses.head()

In [ ]:
df_courses.to_sql('COURSES', conn_new, if_exists='append', index=False)

In [14]:
courses = 'SELECT * FROM COURSE_OFFERING;'

In [ ]:
courses_df = pd.read_sql(courses, conn_new)
courses_df.head()

In [16]:
meetings = 'SELECT * FROM LOCATION';

In [ ]:
meetings_df = pd.read_sql(meetings, conn_new)
meetings_df.head()

In [18]:
instructor = 'SELECT NAME, COURSE_TITLE, CRN FROM INSTRUCTOR'

In [ ]:
instructor_df = pd.read_sql(instructor, conn_new)
instructor_df.head()

In [ ]:
df1 = pd.concat([courses_df,instructor_df,], axis=1)
df1.head()

In [ ]:
df1.to_sql('courses', conn, if_exists='append', index=False)

In [ ]:
course = instructor_df ['COURSE_TITLE'] == 'Introduction to Financial Accounting'
instructor_df[course]

In [40]:
time = 'SELECT * FROM TIME_CODE';

In [ ]:
time_df = pd.read_sql(time, conn_new)
time_df.head()

In [ ]:
time_df['START_TIME']=pd.to_datetime(time_df['START_TIME'])
time_df['START_TIME'].head()

In [ ]:
time_df['END_TIME']=pd.to_datetime(time_df['END_TIME'])
time_df['END_TIME'].head()

In [ ]:
Avg_Act = meetings_df['ACT'].mean()
print(Avg_Act)