In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%%sql
sqlite:///CourseDataWareHouse.db

'Connected: @CourseDataWareHouse.db'

In [18]:
%%sql
DROP TABLE IF EXISTS COURSES;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [19]:
%%sql
DROP TABLE IF EXISTS MEETINGS;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [20]:
%%sql
DROP TABLE IF EXISTS PROFESSOR;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [21]:
%%sql
DROP TABLE IF EXISTS TIME;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [22]:
%%sql
DROP TABLE IF EXISTS COURSE_FACTS;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [23]:
%%sql
drop table if exists catalog_program;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [24]:
%%sql
drop table if exists catalog_course;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [25]:
%%sql
drop table if exists term;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [26]:
%%sql
drop table if exists course_offering;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [27]:
%%sql
drop table if exists instructor;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [28]:
%%sql
drop table if exists course_meeting;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [29]:
%%sql
drop table if exists time_code;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [30]:
%%sql
drop table if exists location;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [31]:
%%sql
drop table if exists import_courses;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [32]:
%%sql
drop table if exists import_cmeetings;

 * sqlite:///CourseDataWareHouse.db
Done.

[]

In [33]:
%%sql
drop table if exists import_catalog;

 * sqlite:///CourseDataWareHouse.db
Done.

[]